[submodule "cpu"]
	path = cpu
	url = git@github.com:NasdaqGodzilla/AndroidCPU.git
[submodule "mem"]
	path = mem
	url = git@github.com:NasdaqGodzilla/AndroidMEM.git
[submodule "gfx"]
	path = gfx
	url = https://github.com/NasdaqGodzilla/GetFPS
